extends layout

block content
  each doc, i in docs
    .item 
      .main
        h3
          a(href="#{doc.link}")!= doc.title
        p!= moment(doc.date, "YYYYMMDD").fromNow()
      if doc.items
        .related
          each item, i in doc.items
            p
              a(href="#{item.link}") #{item.title}
              | &nbsp;
              small (#{moment(item.date, "YYYYMMDD").fromNow()})