doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans&subset=vietnamese')
  body
    block content
