body { padding: 50px; font: 14px "Open Sans", Helvetica, Arial, sans-serif; background: #f2f2f2; }

img { max-width: 100%; }

h3 { margin: 0; }

p:last-child { margin-bottom: 0; }

.item { max-width: 500px; margin: 0 auto 20px; }
.item .main { -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 15px; -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 15px; box-shadow: rgba(0, 0, 0, 0.1) 0 0 15px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; padding: 20px; background: #fff; }
.item .related { padding: 20px; font-size: 12px; }
